.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-gap: 1em;
  justify-items:stretch;
  align-items:stretch;
}

.header {
  grid-column: 1/1;
  padding: 2em;
}

.header > button{
  float: left;
}

.welcome {
  grid-column: 2/4;
  padding: 1em;
}

.settings {
  grid-column: 2/4;
  padding: 1em;
}

.errors {
  grid-column: 2/4;
  padding: 1em;
}

.start {
  grid-column: 2/4;
  padding: 1em;
}


