<div *ngIf="userName">
  <div class="grid">
    <div class="header">
      <button (click)="goBack()">Back</button>
    </div>
    <div class="welcome">
      <p>Welcome {{ userName }}</p>
    </div>
    <div class="settings">
      <select #selectElem (change)="setNewLevel(selectElem.value)">
        <option *ngFor="let level of levels" [value]="level.id">
          {{level.name}}
        </option>
      </select>
    </div>
    <div class="errors">
      <p class="error">&nbsp;{{ errorMessage }}&nbsp;</p>
    </div>
    <div class="start">
      <p><button id="start_game" (click)="startGame()">Start</button></p>
    </div>
  </div>
</div>


