<div class="app-title">
  <h1>Welcome to {{title}}!</h1>
  <h5>all made through Angular 4 by <a href="http://www.andrebarata.eu/" target="_blank">André Barata</a></h5>
</div>
<div class="user-selection">
  <ul>
    <a *ngFor="let user of users"  [routerLink]="['/game']">
      <li (click)="userSelected(user)" >{{ user.name }}</li>
    </a>
  </ul>
</div>
