h1 {
  margin-bottom: 3px;
}

h5 {
  margin-top: 0px;
  margin-bottom: 40px;
}

.app-title a {
  color: #27797A;
  text-decoration: none;
}

.app-title a:hover {
  color: #27797A;
  text-decoration: underline;
}


ul{
  list-style-type: none;
  padding-left: 0px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

li{
  padding: 10px 20px;
  margin: 15px 40%;
  background: #27797A;
  transition: box-shadow .25s;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

