<div class="board" *ngIf="grid_class" [style.pointerEvents]="stop_mouse ? 'none' : 'auto'">
  <div class="player_data">
    <div class="timer">
      <p>{{ timer }} seconds playing</p>
    </div>
    <div class="moves">
      <p>{{ moves }} moves done</p>
    </div>
    <div class="status">
      <p>{{ status }} / {{ num_single_pieces }} combinations</p>
    </div>
  </div>
  <div [class]="grid_class">
    <div *ngFor="let piece of board" [class.inactive]="piece.disabled">
      <img (click)="flip(piece)" *ngIf="piece.flipped == false" src="{{ piece.image_top }}" width="100%">
      <img (click)="flip(piece)" *ngIf="piece.flipped == true" src="{{ piece.image_bottom }}" width="100%">
    </div>
  </div>
</div>
