.board {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-gap: 1em;
}

.player_data {
  grid-column: 2/4;
  border: 1px solid black;
  padding: 2em;
}

.easy, .medium {
  display: grid;
  grid-column: 2/4;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

.hard {
  display: grid;
  grid-column: 2/4;
  grid-gap: 1em;
  grid-template-columns:repeat(6, 1fr);
}

.stop_mouse {
  pointer-events: none;
}

.play_mouse {
  pointer-events: auto;
}

.inactive {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
