/* You can add global styles to this file, and also import other style files */
html {

}

body {
  text-align: center;
}

h1 {
  font-size: 2em;
}

h5 {
 font-size: 0.8em;
}

a {
  color: #27797A;
  text-decoration: none;
}

a:hover {
  color: #27797A;
  text-decoration: underline;
}
